/img/entregable03/parallax_backgrounds/letras_logo.png
/img/entregable03/parallax_backgrounds/letras_logo_binarized.png
/img/entregable03/parallax_backgrounds/red_sunset_logo.png
/img/entregable03/parallax_backgrounds/red_sunset_logo_binarized.png
/img/entregable03/characters/big_daddy.jpg
/img/entregable03/characters/billy_crash.jpg
/img/entregable03/characters/broomhilda.jpg
/img/entregable03/characters/calvin_candie.jpg
/img/entregable03/characters/django.jpg
/img/entregable03/characters/king_schultz.jpg
/img/entregable03/characters/stephen.jpg
/img/entregable03/characters/tarantino.jpg
/__testing/*
/paleta_colores/*
/img/entregable03/characters/billy_crash - copia.jpg
/img/entregable03/characters/broomhilda - copia.jpg
/img/entregable03/characters/calvin_candie - copia.jpg
/img/entregable03/characters/django - copia.jpg
/img/entregable03/characters/king_schultz - copia.jpg
/img/entregable03/characters/stephen - copia.jpg
