/* Estilo general */

body{
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2B0600;
    font-family: sans-serif;
    color: #2B0600;
    font-weight: 600;
}
div{
    background-color: #00000000;
}
h2{
    background-color:#CF2F2FFF ;
    width: 100%;
    margin: 0;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    padding: 0;
}

/* Fin estilo general */

/* Clases para asignar desde JS */
.js-no_scroll{
    overflow: hidden;
}
.js-hide{
    display: none;
}
/* Fin clases para asignar desde JS */
/* Pantalla de carga */

#pantalla_carga{
    width: 100%;
    height: 1000px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 10;
}
#pantalla_carga img{
    transform: rotate(30deg) ;
    width: 6%;
    margin: 10% 47%;
    animation: loading .8s ease-in-out infinite ;
}

@keyframes loading{
    from {transform:rotate(30deg)}
    to {transform:rotate(90deg)}
}
/* Fin pantalla de carga */
/* Hero parallax */

#hero_parallax_principal{
    /* top: 0;
    left: 0;
    position: fixed; */
    width: 100%;
    background-color: #2B0600;
    margin: 0;
    padding: 0;
    overflow: hidden;

    z-index: 1;
}
#limit_parallax_helper{
    margin: 0;
    /* height: 4000px; */
    width: 100%;
    background-color: inherit ;
    z-index: 1;
}
.parallax_layer{
    /* position: fixed; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.parallax_layer:nth-child(2){
    transform-origin: 50% 73%;
}
.parallax_layer:nth-child(3){
    transform-origin: 50% 0;
    
}
.parallax_layer:nth-child(5){
    transform-origin: 50% 76.5%;
    
}
.js-parallax_fixed{
    top: 0;
    left: 0;
    position: fixed;
}
.js-parallax_absolute{
    position: absolute;
    left: 0;
}
/* Fin hero parallax */
/* Burger menu */

#burger_menu button{
    /* background-color: rgba(0, 0, 0, 0); */
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 8;
    position: fixed;
    left: 10px;
    top: 10px;
    min-width: 35px;
    width: 3%;
    border-radius: 4px;
    background-color: #2B060077;
}
#burger_menu button img{
    width: 80%;
    margin: 10%;
}
#burger_menu button:focus{
    outline: none;
}
#burger_menu button:focus + div{
    left: 0;
    transition: left .6s ease-out;
}
#burger_menu div{
    /* margin-top: 25%;     */
    position: fixed;
    width: 18%;
    height: 1000px;
    background-color: #FFA7A7FF;
    border-right: solid 1px #2B0600FF;
    z-index: 9;
    left: -19%;
    top: 0;
    transition: left .6s ease-in;
}
/* #burger_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
} */
.burger_menu_item:first-child{
    margin-top: 0;
}
.burger_menu_item{
    float: right;
    width: 94%;
    padding: 5% 3%;
    /* background-color: black; */
    border-bottom: solid 1px #F5A0A0FF;
    text-decoration: none;
    text-align: center;
    color: inherit;
}

/* Fin burger menu */

/* 3D cards */

#character_cards{
    width: 100%;
    clear: both;
    /* background-color: ; */
    
}
.js-card_container{
    float: left;
    padding: 0;
    width: 31%;
    border-radius: 5px;
    /* border: solid #320600FF 1px; */
    background-color: #2E0600FF;
    min-width: 200px;
    margin: 0.5% 1%;
    perspective: 1500px;
}
.js-sinopsis_card_container{
    /* float: left; */
    padding: 0;
    width: 100%;
    border-radius: 5px;
    /* border: solid #320600FF 1px; */
    /* background-color: #2E0600FF; */
    /* min-width: 200px; */
    /* margin: 0.5% 1%; */
    perspective: 1500px;
}
/* #character_cards:hover .js-card3D{
    transition: transform .06 ease-in;
} */
.js-card3D{
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
}

/* Fin 3D cards */

/* Multimedia */
.multimedia{
    width: 100%;
    padding: 0;
    margin: 0;
}
.trailer{
    text-align: center;
    float: right;
    width: 40%;
    height: auto;
    margin: 2% 1%;
    background-color: #CF2F2FFF;
    border-radius: 5px;
}

/* Carrusel */

#carrusel{
    float: left;
    margin: 2%;
    /* margin-left: 5%; */
    min-width: 680px;
    min-height: 478px;
    background-image: url("../../img/entregable03/carrusel/carr_01.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.js-carrusel_button img{
    width: 90%;
    padding: 200px 5% 0 5%;
}
.js-carrusel_button{
    background-color: #CF2F2F77;
    float: left;
    align-content: center;
    width: 10%;
    min-height: 478px;
}
.js-carrusel_button:last-child{
    float: right;
}
/* Carrusel */

/* Fin multimedia*/

/* Footer */
#footer_margin_helper,#footer{
    width: 100%;
    min-height: 45px;
    padding-top: 5px;
}

#footer_margin_helper{
    clear: both;
    margin: 5px 0;
}
#footer{
    bottom: 0;
    left: 0;
    background-color: #2B0600FF;
    position: fixed;
    z-index: 5;
    padding: 0;
}

/* Countdown */
.countdown *{
    margin-bottom: 0;
}
.countdown{
    padding: 0;
    float: right;
    margin: 5px 4%;
    margin-bottom: 0;
}
.countdown p{
    color: #CF2F2FFF;
}


/* Fin countdown */
/* Fin footer */

/* Reparto */

.reparto, .premios,.articulo{
    width: 94%;
    margin: 1%;
    display: grid;
    grid-template: auto/100%;
    background: linear-gradient(#F5A0A0FF,#FFA7A7FF);
    border-radius: 5px;
    list-style: none;
    padding: 2%;
}
.reparto li,.premios li{
    display: flex;
    justify-self: start;
    align-self: middle;
}

/* Fin reparto */
/* Sinopsis */

.sinopsis{
    position: relative;
    border-radius: 4px;
    margin: 2%;
    height: 100%;
    background-color: #FFA7A7FF;
    padding: 2%;
    background-size: contain;
    overflow: visible;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 65% 35%;
    /* clear: both; */
}
.sinopsis p{
    /* width: 60%; */
    color: black;
    float: left;
}
.sinopsis img{
    position: relative;
    border-radius: 4px;
    margin: 1%;
    width: 98%;
    float: right;
}


/* Fin sinopsis */

/* Comentarios */

.comentario_individual{
    border: solid #2B0600FF 1px;
    padding: 0.1% 1%;
    border-radius: 4px;
    background-color: #FFA7A7FF;
    width: 98%;
    display: grid;
    grid-template: 40px 100%/100%;
    margin-bottom: 4px;
}
.comentario_individual .com_titulo{
    font-size: large;
    padding-left: 3px;
}
.comentarios_form{
    display: grid;
    grid-template: 8% 25px 8% 150px 10%/100%;
}
.js-comentario_input{
    background-color: white;
    transition: background-color .3s ease-in;
    box-shadow: none;
    border-radius: 6px;
    border: solid #2B0600FF 1px;
    padding: 2px;
    font-family: inherit;
}
.js-comentario_input::placeholder{
    font-family: sans-serif;
    color: #CF2F2FFF;
    transition: color .3s ease-in;
}

.js-comentario_input:focus{
    background-color: #FFCFCFFF;
    transition: background-color .3s ease-out;
    box-shadow: none;
    /* border:inherit; */
    outline: inherit;
}
.js-comentario_input:focus::placeholder{
    color: #2B0600FF;
    transition: color .3s ease-out;
}
#js-enviar_comentario{
    background-color: #FFCFCFFF;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
#js-enviar_comentario_progress_bar{
    background-color: #CF2F2FFF;
    position: absolute;
    height: 50px;
    width: 0;
    top: 0;
    left: 0;
}
.js-boton_simular_carga{
    
    animation: simular_barra_progreso_form_comentarios 5s ease-out infinite;
}
@keyframes simular_barra_progreso_form_comentarios{
    from{width: 0;}
    to{width: 100%;}
}

/* Fin comentarios */