/* Estilo general */

body{
    background-color: #2B0600;
    font-family: sans-serif;
    color: #2B0600;
    font-weight: 600;
}
div{
    background-color: #FFA7A7;
}

/* Fin estilo general */

/* Clases para asignar desde JS */
.js-no_scroll{
    overflow: hidden;
}
.js-hide{
    display: none;
}
/* Fin clases para asignar desde JS */
/* Pantalla de carga */

#pantalla_carga{
    width: 100%;
    height: 1000px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 10;
}
#pantalla_carga img{
    transform: rotate(30deg) ;
    width: 6%;
    margin: 10% 47%;
    animation: loading .8s ease-in-out infinite ;
}

@keyframes loading{
    from {transform:rotate(30deg)}
    to {transform:rotate(90deg)}
}
/* Fin pantalla de carga */
/* Hero parallax */

#hero_parallax_principal{
    /* top: 0;
    left: 0;
    position: fixed; */
    width: 100%;
    background-color: red;
    margin: 0;
    padding: 0;
    overflow: hidden;

    z-index: 1;
}
#limit_parallax_helper{
    margin: 0;
    height: 4000px;
    width: 100%;
    background-color: inherit ;
    z-index: 1;
}
.parallax_layer{
    /* position: fixed; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.parallax_layer:nth-child(2){
    transform-origin: 50% 73%;
}
.parallax_layer:nth-child(3){
    transform-origin: 50% 0;
    
}
.parallax_layer:nth-child(5){
    transform-origin: 50% 76.5%;
    
}
.js-parallax_fixed{
    top: 0;
    left: 0;
    position: fixed;
}
.js-parallax_absolute{
    position: absolute;
    left: 0;
}
/* Fin hero parallax */
/* Burger menu */

#burger_menu button{
    /* background-color: rgba(0, 0, 0, 0); */
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 8;
    position: fixed;
    left: 10px;
    top: 10px;
    min-width: 35px;
    width: 3%;
    border-radius: 4px;
    background-color: #2B060077;
}
#burger_menu button img{
    width: 80%;
    margin: 10%;
}
#burger_menu button:focus{
    outline: none;
}
#burger_menu button:focus + div{
    left: 0;
    transition: left .6s ease-out;
}
#burger_menu div{
    /* margin-top: 25%;     */
    position: fixed;
    width: 18%;
    height: 1000px;
    background-color: #FFA7A7FF;
    border-right: solid 1px #2B0600FF;
    z-index: 9;
    left: -19%;
    top: 0;
    transition: left .6s ease-in;
}
#burger_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.burger_menu_item:first-child{
    margin-top: 0;
}
.burger_menu_item{
    width: 94%;
    padding: 7% 3%;
    border-bottom: solid 1px #F5A0A0FF;
}

/* Fin burger menu */

/* 3D cards */

#character_cards{
    width: 97%;
    margin: 1,5%;
    background-color: red;
}
.js-card_container{
    float: left;
    padding: 0;
    width: 31%;
    border-radius: 5px;
    border: solid #F5A0A0FF 2px;
    /* min-width: 300px; */
    margin: 0.5% 1%;
    perspective: 1500px;
}
.js-card3D{
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
}

/* Fin 3D cards */
