/* Estilo general */

body{
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2B0600;
    font-family: sans-serif;
    color: #2B0600;
    font-weight: 600;
}
div{
    background-color: #00000000;
}
h2{
    background-color:#CF2F2FFF ;
    width: 100%;
    margin: 0;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    padding: 0;
}

/* Fin estilo general */

/* Clases para asignar desde JS */
.js-no_scroll{
    overflow: hidden;
}
.js-hide{
    display: none;
}
/* Fin clases para asignar desde JS */
/* Pantalla de carga */

#pantalla_carga{
    width: 100%;
    height: 1000px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 10;
}
#pantalla_carga img{
    transform: rotate(30deg) ;
    width: 6%;
    margin: 10% 47%;
    animation: loading .8s ease-in-out infinite ;
}

@keyframes loading{
    from {transform:rotate(30deg)}
    to {transform:rotate(90deg)}
}
/* Fin pantalla de carga */
/* Hero parallax */

#hero_parallax_principal{
    /* top: 0;
    left: 0;
    position: fixed; */
    width: 100%;
    background-color: #2B0600;
    margin: 0;
    padding: 0;
    overflow: hidden;

    z-index: 1;
}
#limit_parallax_helper{
    margin: 0;
    /* height: 4000px; */
    width: 100%;
    background-color: inherit ;
    z-index: 1;
}
.parallax_layer{
    /* position: fixed; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.parallax_layer:nth-child(2){
    transform-origin: 50% 73%;
}
.parallax_layer:nth-child(3){
    transform-origin: 50% 0;
    
}
.parallax_layer:nth-child(5){
    transform-origin: 50% 76.5%;
    
}
.js-parallax_fixed{
    top: 0;
    left: 0;
    position: fixed;
}
.js-parallax_absolute{
    position: absolute;
    left: 0;
}
/* Fin hero parallax */
/* Burger menu */

#burger_menu button{
    /* background-color: rgba(0, 0, 0, 0); */
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 8;
    position: fixed;
    left: 10px;
    top: 10px;
    min-width: 35px;
    width: 3%;
    border-radius: 4px;
    background-color: #2B060077;
}
#burger_menu button img{
    width: 80%;
    margin: 10%;
}
#burger_menu button:focus{
    outline: none;
}
#burger_menu button:focus + div{
    left: 0;
    transition: left .6s ease-out;
}
#burger_menu div{
    /* margin-top: 25%;     */
    position: fixed;
    width: 18%;
    height: 1000px;
    background-color: #FFA7A7FF;
    border-right: solid 1px #2B0600FF;
    z-index: 9;
    left: -19%;
    top: 0;
    transition: left .6s ease-in;
}
/* #burger_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
} */
.burger_menu_item:first-child{
    margin-top: 0;
}
.burger_menu_item{
    float: right;
    width: 94%;
    padding: 5% 3%;
    /* background-color: black; */
    border-bottom: solid 1px #F5A0A0FF;
    text-decoration: none;
    text-align: center;
    color: inherit;
}

/* Fin burger menu */

/* 3D cards */

#character_cards{
    width: 100%;
    clear: both;
    /* background-color: ; */
    
}
.js-card_container{
    float: left;
    padding: 0;
    width: 31%;
    border-radius: 5px;
    border: solid #F5A0A0FF 2px;
    min-width: 200px;
    margin: 0.5% 1%;
    perspective: 1500px;
}
#character_cards:hover .js-card3D{
    transition: transform .06 ease-in;
}
.js-card3D{
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
}

/* Fin 3D cards */

/* Multimedia */
.multimedia{
    width: 100%;
    padding: 0;
    margin: 0;
}
.multimedia h2{

}
.trailer{
    text-align: center;
    float: right;
    width: 40%;
    height: auto;
    margin: 2% 1%;
    background-color: #CF2F2FFF;
    border-radius: 5px;
}

/* Carrusel */

#carrusel{
    float: left;
    margin: 2%;
    /* margin-left: 5%; */
    min-width: 680px;
    min-height: 478px;
    background-image: url("../../img/entregable03/carrusel/carr_01.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.js-carrusel_button img{
    width: 90%;
    padding: 200px 5% 0 5%;
}
.js-carrusel_button{
    background-color: #CF2F2F77;
    float: left;
    align-content: center;
    width: 10%;
    min-height: 478px;
}
.js-carrusel_button:last-child{
    float: right;
}
/* Carrusel */

/* Fin multimedia*/

/* Footer */
#footer_margin_helper,#footer{
    width: 100%;
    min-height: 45px;
    padding-top: 5px;
}

#footer_margin_helper{
    clear: both;
    margin: 5px 0;
}
#footer{
    bottom: 0;
    left: 0;
    background-color: #2B0600FF;
    position: fixed;
    z-index: 5;
    padding: 0;
}

/* Countdown */
.countdown *{
    margin-bottom: 0;
}
.countdown{
    padding: 0;
    float: right;
    margin: 5px 4%;
    margin-bottom: 0;
}

.countdown img{
    float: left;
    width: 500px;
    margin-right: 20px;
}
.footer_fecha_countdown{
    float: left;
    width: 20px;
    height: 41px;
    background-image: url("../../img/entregable03/tiempo_restante/0-9\(light\).png");
}
.footer_fecha_separador{
    float: left;
    width: 13px;
    height: 41px;
    background-image: url("../../img/entregable03/tiempo_restante/separador_tiempo\(light\).png");
}

/* Animaciones del reloj */
.footer_horas.countdown_unidad{
    animation: numbers24to0unidades infinite steps(24) 86400s;
    animation-delay: -3540s;
}
.footer_horas.countdown_decena{
    animation: numbers24to0decenas infinite steps(24) 86400s;
    animation-delay: -7140s;
    /* animation-delay: ; */
}
.footer_minutos.countdown_unidad{
    animation: numbers9to0 infinite steps(10) 600s;

}
.footer_minutos.countdown_decena{
    animation: numbers6to0 infinite steps(6) 3600s;
    animation-delay: 60s;
}
.footer_segundos.countdown_unidad{
    animation: numbers9to0 infinite steps(10) 10s;
}
.footer_segundos.countdown_decena{
    animation: numbers6to0 infinite steps(6) 60s;
    animation-delay: 1s;
}

@keyframes numbers9to0{
    0%{background-position-y: 0;}
    100%{background-position-y:405px}
}
@keyframes numbers24to0decenas{
    0%{background-position-y: -82px;}
    20.8333333332%{background-position-y:-82px}
    20.8333333333%{background-position-y: -41px}
    62.49999999999%{background-position-y:-41px}
    62.5%{background-position-y:0px}
    100%{background-position-y:0px}

}
@keyframes numbers6to0{
    0%{background-position-y:-203px}
    100%{background-position-y: 41px;}
}
@keyframes numbers24to0unidades{
    0%{background-position-y:-122px}
    100%{background-position-y:851px}
}
/* Fin animaciones del reloj */

/* Fin countdown */

/* Fin footer */